    <footer class="ui secondary inverted very padded footer segment">
      <span><i class="ui code icon"></i> Semantic Blog &copy; 2020</span>
      <p class="padding">
        Made with <i class="ui heart yellow icon"></i> by <a class="ui mini inverted yellow button" href="https://github.com/prathikotian">@prathikotian</a>
      </p>
    </footer>
  </body>
</html>
